---
import {Content as GameList} from './gamelist.md';
import BlogPost from '../layouts/BlogPost.astro';
import BaseLayout from '../layouts/Base.astro';
---

<BaseLayout>
<p>
</p>
</BaseLayout>