---
import Layout from '../layouts/Base.astro';
import BlogPost from '../../layouts/BlogPost.astro';
import {Content as GameList} from './gamelist.md';
---



<Layout
	title="GameServer List"
>
<h1>GameList</h1>
<BlogPost post={post}>
  <GameList />
</BlogPost>
</Layout>

